<div style="max-width: 100vw; max-height: 100vh;">
  <commonwealth-header></commonwealth-header>
  <div class="home-content">
    <h1 class="title-content">
      AI Driven Toolkit for <br/>
      AI Policy Development
    </h1>
    <a href="/about" class="button-content">
      <button class="btn-login">Know More</button>
    </a>
  </div>
  <div class="content-image">
    <img src="https://ik.imagekit.io/fdu5ptj23co/Group%207%20(1)_MqubPRAI1.png" alt="commonwealth-logo" width="673" height="551">
  </div>
</div>