<div class="sidebar">
  <div class="image">
    <img src="https://ik.imagekit.io/fdu5ptj23co/image%201%20(2)_PgaFAPr5N.svg" alt="commonwealth-logo" width="246" height="50">
  </div>
  <div class="country-box">
    <p>Country Profile: <b>Mauritus</b></p> <img src="https://ik.imagekit.io/fdu5ptj23co/image%202_VZxQIe6L7c.svg" alt="nation-flag">
  </div>
  <div class="menu">
    <div class="list">
      <a href="/dashboard">
        All Policy Documents
      </a>
    </div>
    <!-- <div class="list">
      <a href="/list-policy">
        Manage Users
      </a>
    </div>
    <div class="list">
      <a href="/list-policy">
        Country Profile
      </a>
    </div> -->
  </div>
</div>

