<div class="header-container">
  <diV class="box-content">
    <div class="image">
      <img src="https://ik.imagekit.io/fdu5ptj23co/image%201_t6kq5o20r.svg" alt="commonwealth-logo" width="246" height="50">
    </div>
    <div class="item">
      <div class="list">
        <a href="/">Home</a>
      </div>
      <div class="list">
        <a href="/about">About Us</a>
      </div>
      <div class="list">
        <a href="/faq">FAQs</a>
      </div>
      <div class="list">
        <a href="/contact-us">Contact Us</a>
      </div>
      <a href="/dashboard" class="button">
        <button class="btn-login">Log In</button>
      </a>
    </div>
  </diV>
</div>